.dash-bg-custom {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.main-head-con {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.ipl-img {
  width: 30px;
  height: 50px;
  margin-right: 10px;
}
.dash-main-head {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}
.teams-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.loader-cen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
